<section class="content_block">
    <div class="menu">
        <p>Меню</p>
        <a href={link_to_second}>Регистрация</a>
        <a href="#">Каталог товаров</a>
        <a href="#">Новости</a>
    </div>
    <div class="text">
        <div class="main_part">
            <p class="about">О компании </p>
            <p class="info-about">{about_company}</p>
        </div>
        <!-- <div class="banners">
            Банеры
        </div> -->
    </div>

    <div class="third-block">
        <div class="news">
            <p>Новости</p>
            <div>
                <p>{news1}</p>
                <a href="#">Читать</a>
            </div>
            <div>
                <p>{news2}</p>
                <a href="#">Читать</a>
            </div>
        </div>

        <!-- <div class="question">Опросник</div> -->
    </div>

</section>